:root{
    --primary-300: hsl(333, 80%, 67%);
    --primary-700: hsl(300, 43%, 22%);
    --neutral-100: hsl(303, 10%, 53%);
    --neutral-200: hsl(300, 24%, 96%);
    --neutral-300: hsl(0, 0%, 100%);
    --font-size-base: "spartan", sans-serif;
    --font-size-400: 0.8125rem;
    --font-size-500: 0.9625rem;
    --font-size-900: 2rem;
    --br: 1rem;
    }

html{
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: bottom right, top left;
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    font-family: 'Spartan', sans-serif;
    width: auto;
    height: auto;
    margin: 5% 10%;
    font-size: 15px;
    line-height: 2;
}

.caption-container{
    display: inline-block;
    padding-right: 130px;
}

.caption{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    width: 400px;
    line-height: 40px;
    font-size: 20px;
}

.caption2{
    width: 450px;
    color: hsl(300, 43%, 22%);
    font-weight: 400;
    line-height: 2;
}

.rating{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    display: inline-block;
    position: absolute;
    margin-top: 30px;
}

.stars{
    padding-right: 30px;
}

.stars img{
    padding-right: 5px;
}

.ratingstyle{
    background-color: hsl(300, 24%, 96%);
    width: 500px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    padding: 12px 10px;
}

#rating2{
    margin-left: 40px;
}

#rating3{
    margin-left: 80px;
}


.clients{
    margin: 50px auto;
}

.reviewstyle{
    background-color: hsl(300, 43%, 22%);
    width: 330px;
    border: 0px;
    border-radius: 5px;
    padding: 20px;
}

.name, .buyer{
    text-align: left;
    line-height: 0.5;
}

.name{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.buyer{
    padding-left: 3rem;
    padding-bottom: 15px;
    font-weight: 500;
    color:hsl(303, 10%, 53%);
}

.review{
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.clients img{
    float: left;
    padding-right: 1.5rem;
    margin-top: 5px;
}

#colton{
    position: absolute;
}

#irene{
    position: absolute;
    margin-left: 405px;
    margin-top: 25px;
}

#anne{
    position: absolute;
    margin-left: 810px;
    margin-top: 50px;
}

*, *:before, *:after {
    box-sizing: border-box;
}


/* For mobile screens and tablets */
@media only screen and (min-width: 280px) and (max-width: 1024px){

    html{
        background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .caption-container{
        display: block;
        text-align: center;
        width: 90%;
        padding-right: 0;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .caption{
        font-family: 'Spartan', sans-serif;
        display: block;
        text-align: center;
        width: 88%;
        margin-left: 12%;
    }

    .caption2{
        font-family: 'Spartan', sans-serif;
        display: block;
        text-align: center;
        width: 90%;
        margin-left: 10%;
    }

    .rating{
        display: block;
        position: relative;
        position: center;
        margin: auto;
        width: 90%;
        margin-left: 10%;
    }

    .ratingstyle{
        font-family: 'Spartan', sans-serif;
        width: 90%;
    }

    #rating2, #rating3{
        margin-left: 0;

    }

    .stars{
        display: block;
        text-align: center;
        padding-right: 0;
    }

    .clients{
        display: block;
        font-family: 'Spartan', sans-serif;
        margin-left: 0;
    }

    #colton, #irene, #anne{
        font-family: 'Spartan', sans-serif;
        position: relative;
        display: block;
        width: 90%;
        
    }

    #colton{
        margin-left: 5%;
    }

    #irene, #anne{
        margin-left: 5%;
        margin-top: 20px;
    }
}




